body {
  margin: 0;
  padding-bottom: 6.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-image: url("rocks.jpg");
  background-color: black;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 5rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#channel-info {
  position: fixed;
  bottom: 4rem;
  left: 0;
  right: 0;
  display: flex;
  color: #efefef;
  background-color: #333;
  font-size: large;
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
  font-size: 2rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  width: 10%;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #ffff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.ownMessage {
  border-radius: 25px;
  background: #a7cab1;
  text-align: right;
}

.receivedMessage {
  border-radius: 25px;
  background: #f4ecd6;
}
